<section>
    <div class="container mt-5">
        <h2>Add Products</h2>
        <div class="row">
                <form action="/admin/add-products" method="post" enctype="multipart/form-data">
            <div class="form-group mt-3">
                <label for="exampleInputEmail1">Item id</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter item id">
            </div>
            <div class="form-group mt-3">
                <label for="exampleInputPassword1">Item name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter item name">
            </div>
            <div class="form-group mt-3">
                <label for="exampleInputPassword1">Category</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter category">
            </div>
            <div class="form-group mt-3">
                <label for="exampleInputPassword1">Description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter description">
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlFile1">Image</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</section>