<section>
    <div class="container mt-5">
        <h2>Add Products</h2>
        <div class="row">
                <form action="/admin/add-products" method="post" enctype="multipart/form-data">
            
                <label for="">Item id</label>
                <input type="text" name="number" class="form-control">
            
            
                <label for="">Item name</label>
                <input type="text" name="name" class="form-control">
            
                <label for="">Category</label>
                <input type="text" name="category" class="form-control">
            
                <label for="">Description</label>
                <input type="text" name="description" class="form-control">
            
                <!--<label for="">image</label>
                <input type="file" name="image" class="form-control">-->
            
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</section>