<section>
    <div class="container mt-5">
    <form action="/signup" method="POST">
      <h2 style="text-align: center;margin-top:4em;">Sign Up</h2>
      <div class="form-group px-5 mx-5">
        <label for="">Full Name</label>
        <input type="text" name="username" class="form-control" placeholder="Enter you Full Name please">
      </div>
      <div class="form-group px-5 mx-5">
        <label for="">Email address</label>
        <input type="email" name="email"class="form-control"  placeholder="Enter email">
      </div>
      <div class="form-group px-5 mx-5">
        <label for="">Password</label>
        <input type="password" name="Password" class="form-control"  placeholder="Password">
      </div>
      <div class="form-group px-5 mx-5">
        <a href="/login">Already have an account ?</a>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary text-center align-center">Submit</button>
      </div>
    </form>
    </div>
</section>