<section>
    <div class="container">
    <form action="/signup" method="post">
        <h2 style="text-align: center;margin-top:4em;">Sign Up</h2>
      <div class="form-group px-5 mx-5">
        <label for="">Full Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter you Full Name please">
      </div>
      <div class="form-group px-5 mx-5">
        <label for="">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group px-5 mx-5">
        <label for="">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group px-5 mx-5">
          <a href="/login">Already have an account ?</a>
      </div>
      <div class="form-group text-center">
      <button type="submit" class="btn btn-primary text-center align-center">Submit</button>
      </div>
    </form>
    </div>
</section>